.goals{
    position:relative;
    background-color:#263246;
    padding-top: 120px;
    padding-bottom: 120px;
    text-align: center;
}

.goals h1{
    font-size: 36px;
    font-weight: 700;
    color:#d83a3a;
    margin-top: 0px;
    margin-bottom: 50px;
    text-transform: uppercase;
    font-family: inherit;
    font-weight: bold;
}
h3{
    color: white;
    font-weight: bold;
    font-size: 20px;
    margin-top: 13px;
}

.goals > .row {
    display: flex;
    justify-content: space-around;

}

.goals > .row span {
    background-color: #d83a3a;
    width: 120px;
    height: 120px;
    display: block;
    border-radius: 10%;
    color: white;
    font-size: 55px;
    line-height: 120px;
    margin-top: 50px;

}