.wrap{
  min-height: 100%;
}


.buttons_landing{
  background-image: linear-gradient(to right, #0d234b 0%, #2c3950 51%, #404d63 100%);
  border-radius: 1000px;
  padding:       20px 45px;
  color:         #ffffff;
  border:         none;
  display:       inline-block;
  font:          normal bold 26px/1 "Open Sans", sans-serif;
  text-align:    center;
  transition: background-color 2s;
}

.buttons_landing:hover{
  border-radius: 1000px;
  padding:       20px 45px;
  color:         #ffffff;
  border:        none;
  display:       inline-block;
  font:          normal bold 26px/1 "Open Sans", sans-serif;
  text-align:    center;
  background-image: linear-gradient(to right, #4a9bd1 0%, #78a6c5 51%, #5bb7f5 100%);
}