.wrap{
  min-height: 100%;
}


.buttons_landing{
  background-image: linear-gradient(to right, #EB3349 0%, #F45C43 51%, #EB3349 100%);
  border-radius: 1000px;
  padding:       20px 45px;
  color:         #ffffff;
  border:         none;
  display:       inline-block;
  font:          normal bold 26px/1 "Open Sans", sans-serif;
  text-align:    center;
  transition: background-color 2s;
}

.buttons_landing:hover{
  border-radius: 1000px;
  padding:       20px 45px;
  color:         #ffffff;
  border:        none;
  display:       inline-block;
  font:          normal bold 26px/1 "Open Sans", sans-serif;
  text-align:    center;
  background-image: linear-gradient(to right, #FF8008 0%, #FFC837 51%, #FF8008 100%);
}