.programs{
    background-color:tomato;
    padding-top: 120px;
    padding-bottom: 120px;
    text-align: center;
}

.programs h1{
    font-size:50px;
    text-transform: uppercase;
    color: rgb(94, 90, 90);
    margin: 0;
    padding: 0;
    margin-top: 0;
    margin-bottom: 48px;

}

.title{
    color: rgb(94, 90, 90);
    font-weight: bold;
    font-size: 25px;
}



.programs > .row {
    display: flex;
    justify-content: space-around;
}

