
.banner .navbar{
    margin-top: 1%;
    background-color:rgb(255, 254, 254) ;
}

.banner .navbar-brand .navbar-brand-link{
    color: tomato;
    font-size: 1.8em;
    font-weight: 700;
    margin-left: 3%;
    text-decoration: none;
}

.banner .nav{
    margin-right:2%;
}

.banner .nav li a{
    color: rgb(65, 65, 65);
    font-size: 1.2em;
    font-weight: 700;
}


// .banner .info{
//     margin-top: 15%;
//     transform: translateY(-15%);
// }

// .banner .info h1{
//     font-size: 3em;
//     font-weight: 700;
//     color: tomato;
// }

// .banner .info p{
//     font-size: 2em;
//     font-weight: 500;
//     color: white;
//     text-align: center;
// }

// .banner .info a{
//     margin-left: 50%;
//     transform: translateX(-50%);
//     padding: 10px 20px;
//     font-family: 'Raleway',sans-serif;
//     text-transform: uppercase;
//     color: #fff;
//     background-color: white;
//     background-image: linear-gradient(to right, #f8a182 0%, coral 100%);
//     letter-spacing: 1px;
//     font-size: 18px;
//     font-weight: 500;
//     border-radius: 25px;
//     transition: all 0.5s linear;
//     border: 0;
//     display: inline-block;
// }

// .banner .info a:hoover{
//   background: rgb(231, 155, 141);
// }
