
.banner .navbar{
    margin-top: 1%;
    background-color: rgba(0, 0, 0, 0);
}
.row .background{
    background-color: rgba(0, 0, 0, 0);
}

.banner .navbar-brand .navbar-brand-link{
    color: tomato;
    font-size: 1.8em;
    font-weight: 700;
    margin-left: 3%;
    text-decoration: none;
}

.banner .nav{
    margin-right:2%;
  
}

.banner .nav li a{
    color: rgb(139, 132, 132);
    font-size: 1.2em;
    font-weight: 700;
}

.banner .nav li a:hover, .banner .nav li a:focus, .banner .nav li a.active {
    background-color: tomato;
}

