.condition{
    padding: 2.5rem;
    background-color: tomato;
    color: #fff;
    font-size: 0.75rem;
    text-align: center;
    height: 90px;
    bottom: 0;
    width: 100%;
    position: fixed;
}
.general-condition{
    color: inherit;
    font-size: .875rem;
}