.condition{
    background-color:whitesmoke;
    padding-top: 35px;
    padding-bottom: 35px;
    text-align: center;
    display : table-row;
    height: 100px;
}

.general-condition{
    color: inherit;
    font-size: .875rem;
}