.condition{
    padding: 2.5rem;
    background-color: #263246;
    color: #d83a3a;
    font-size: 0.75rem;
    text-align: center;
    height: 90px;
    width: 100%;
    font-weight: bold;
}
.general-condition{
    color: inherit;
    font-size: .875rem;
}
.footer{
    margin: 0 auto;
    width: 100%;
    position: absolute;
    bottom: 0;

}

.footer{
    width: 100%;
    background-color: #263246;
    display: block;
    margin: 0 auto;
    bottom: 0;
    position: absolute;
}
