.condition{
    padding: 2.5rem;
    background-color: tomato;
    color: rgb(54, 52, 52);
    font-size: 0.75rem;
    text-align: center;
    height: 90px;
    width: 100%;
    font-weight: bold;
}
.general-condition{
    color: inherit;
    font-size: .875rem;
}
.footer{
    margin: 0 auto;
    width: 100%;
    position: absolute;
    bottom: 0;
}
