.footer{
    height: 40vh;
    margin-top: -50px;
}

.explore, .legal {
    list-style: none;
}

.facebook_link, .instagram_link, .twitter_link{
    width: 3.5rem;
    margin-right: 1.5rem;
    margin-left: 1.5rem;
    margin-bottom: 2rem;
}

